*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}


.phoneitem-li-container {
  list-style: none;
  padding: 10px;
  /* width: 50%; */
  margin: 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  border : 1px solid turquoise;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.phoneitem-ul-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  padding: 0px;
  height: 100vh;
}

.mobile-image{
  width: 80%;
  margin: 10px;
}

.hidden{
  display: none;
}

.header-mobile-catalog {
  background-color: #2478b4;
  margin: 0;
  color: #40cae0;
  width: 100%;
 }

.header-title {
  display: flex;
  margin: 0;
  height: 100px;
  align-items: center;
  padding-left: 30px;
}
.spinner-catalog{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.main-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 250px;
}





@media all and (min-width:768px){
  .phoneitem-ul-container{
    padding: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
}


.mobile-name{
  line-height: 1;
  margin: 0;
  padding-top:10px;
}

.mobile-details{
  position: absolute;
  top: 0;
  left:0;
  text-align: center;
  width: 100%;
  padding: 10px;
  height: 100%;
  background-color: rgba(255,255,255, 0.95)
}

.mobile-details-text{
  font-size: 16px;
  color:  #2478b4;
  margin: 0px;
  line-height: 22px;
  text-align: left;
}
.mobile-details-text-title{
  font-size: 20px;
}
.spanned-properties{
  font-size: 16px;
  color:  #2478b4;
  font-weight: bold;

}

.footer-mobile-catalog{
  background-color: #2478b4;
  color: #40cae0;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-mobile-catalog-link{
  color: #40cae0;
     text-decoration: none;
     font-size: 20px;
     padding-left:5px;
   }

